<nav id='menu' class='navbar navbar-default navbar-brand-center navbar-light navbar-expand-lg'>

  <a class='navbar-brand page-scroll wrapper-toolbar py-1 pl-3 pr-5 d-flex align-items-center' href='#page-top'>
    <img src="assets/img/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
    <span class="pl-3"> SEROI+ </span>
  </a>
  <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto'>
      <li>
        <button class='btn btn-md' routerLink='/'>
          Home
        </button>
      </li>
      <li>
        <button class='btn btn-md' routerLink='/programs'>
          Programs
        </button>
      </li>
      <li>
        <button class='btn btn-md' routerLink='/projects'>
          Projects
        </button>
      </li>
      <li>
        <button class='btn btn-md' routerLink='/stakeholders'>
          Stakeholders
        </button>
      </li>


    </ul>
  </div>

</nav>
